@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to right,#A5A692,#BFB78F);
}
main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 8px 8px 25px #593e25;
}
h1{
    color: #F2A71B;
    text-align: center;
    text-shadow: 1px 1px 1px #ffa600e7;
}
h2{
    color: #F2AE30;
}
p{
    text-align: justify;
}